* {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 20px;
    z-index: 2;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

a:hover{
    border-bottom: 1px solid #fff;
}


